<table class="table-auto">
  <thead>
    <tr class="text-left">
      <th class="px-4 py-2">Id</th>
      <th class="px-4 py-2">Email</th>
      <th class="px-4 py-2">Nome</th>
      <th class="px-4 py-2">Time</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="border px-4 py-2"><%= user.id %></td>
        <td class="border px-4 py-2"><%= user.email %></td>
        <td class="border px-4 py-2"><%= user.name %></td>
        <td class="border px-4 py-2"></td>
      </tr>
    <% end %>
  </tbody>
</table>
