<div class="p-4">
  <h1>Time: <%= @team.name %></h1>

  <%= render 'form', team: @team %>

  <div>
    <%= link_to 'Lista de times', app_teams_path, class: 'inline-block align-baseline font-bold text-sm hover:text-gray-900' %>
  </div>
</div>
