<p>
  <strong>Nome do time:</strong>
  <%= @team.name %>
</p>

<%= render "app/users/users_list", users: @team.users %>

<%= link_to 'Edit', edit_app_team_path(@team) %> |
<%= link_to 'Back', app_teams_path %>
