<div class="flex items-center w-full border-b px-6 bg-gray-200 text-sm text-gray-600">
  <%= active_link_to "Usuários",
    app_users_path,
    class: 'p-2',
    active: 'border-purple-600 border-b text-purple-600' %>
  <%= active_link_to "Times",
    app_teams_path,
    class: 'p-2',
    active: 'border-purple-600 border-b text-purple-600' %>
</div>
