<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-300 text-gray-800">
    <main class="flex-1">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
